<div class="container">

  <h2>Modification profil utilisateur</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :photo %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>En attente d'une confirmation pour: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "Laissez le champ vide si vous ne voulez pas changer.",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :first_name, placeholder: 'Prénom',
                required: true %>
      <%= f.input :last_name, placeholder: 'Nom',
                required: true %>
      <%= f.input :description, placeholder: 'Décris toi en quelques mots',
                required: true %>
      <%= f.input :city, placeholder: 'Ville',
                required: true %>
      <%= f.input :gender, as: :radio_buttons, collection: ['Féminin', 'Masculin'],
                wrapper: :vertical_collection_inline,
                required: true %>
      <%= f.input :age, placeholder: 'âge',
                required: true %>
      <%= f.input :phone_number, placeholder: 'numéro de téléphone',
                  required: true %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "Nous avons besoin de votre mot de passe actuel pour confirmer les changements.",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Mettre à jour", class:"custom-button" %>
    </div>
  <% end %>
  <div class="container">
    <h3>Supprimer mon compte</h3>
    <p>Non satisfait(e)?</p>
    <div class="custom-button">
      <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete %>
    </div>
    <div class="custom-button">
      <%= link_to "Retour", :back %>
    </div>
  </div>
</div>
