<div class="container">
  <h2>Inscription</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, placeholder: 'Prénom',
                required: true %>
      <%= f.input :last_name, placeholder: 'Nom de famille',
                required: true %>
      <%= f.input :city, placeholder: 'Ville',
                required: true %>
      <%= f.input :gender, as: :radio_buttons, collection: ['Féminin', 'Masculin'],
                wrapper: :vertical_collection_inline,
                required: true %>
      <%= f.input :age, placeholder: 'âge',
                required: true %>
      <%= f.input :phone_number, placeholder: 'numéro de téléphone',
                  required: true %>
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "adresse email" }%>
      <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.submit "Inscription", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Retour", :back %>


  <%= render "devise/shared/links" %>

</div>
