<div class="container">
<h1 class="centered-title">Modifier mon booking</h1>
<ul>
  <% if policy(@experience).show? %>
    <li>Ville :<%= @experience.city %></li>
    <li>Prix :<%= @experience.price_per_hour %>€</li>
    <li>Categorie :<%= @experience.category %></li>
    <li>Description :<%= @experience.description %></li>
  <% end %>
</ul>



  <%= simple_form_for [@experience, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.submit "Modifier", class:"custom-button"%>
  <% end %>
</div>
