<%= link_to "Retour aux experiences", experiences_path, class: "back-button" %>
<div class="mini-card-container">
  <div class="container-card">
    <%# <h1>Tes réservations avec des accompagnateurs</h1> %>
    <h1>Tes expériences à vivre</h1>
    <div class="d-flex justify-content-center">
      <%= link_to "Nouvelle réservation", experiences_path, class: "custom-button" %>
    </div>

    <% @bookings.each do |booking| %>
      <%= link_to experience_path(booking.experience) do %>
        <% if booking.user == current_user  %>
          <div class="mini-card-product">
            <div><%= cl_image_tag booking.experience.user.photo.key %></div>
            <div class="mini-card-product-infos">
              <div class="mini-card-product-details">
                <h2> <%= booking.experience.category %> avec <%= booking.experience.user.first_name %></h2>
                <p> <%= booking.experience.description.truncate(12) %></p>
                <h3><%= booking.start_date%> </h3>
              </div>

              <div class="mini-card-product-details">
                <h2><%= booking.experience.price_per_hour%>€ </h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="container-card">
    <h1>Tes expériences à partager</h1>


    <div class="d-flex justify-content-center">
      <%= link_to "Nouvelle expérience", new_experience_path, class: "custom-button" %>
    </div>

    <% @bookings.each do |booking| %>
      <%= link_to experience_path(booking.experience) do %>
        <% if booking.experience.user == current_user %>
          <div class="mini-card-product">
            <div><%= cl_image_tag booking.user.photo.key %></div>
            <div class="mini-card-product-infos">
              <div class="mini-card-product-details">
                <h2> Tu accompagnes <%= booking.user.first_name%>  pour l'activité de <%= booking.experience.category %></h2>
                <p> <%= booking.experience.description %></p>
                <h3><%= booking.start_date%> </h3>
              </div>

              <div class="mini-card-product-details">
                <h2><%= booking.experience.price_per_hour%>€ </h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
