<h1>Tes réservations à venir avec des accompagnateurs</h1>

<ul>
  <% @bookings.each do |booking| %>
    <% if booking.user == current_user  %>
      <div class="container">
          <li>
          Tu payeras <%=booking.experience.price_per_hour%>€ à <%=booking.experience.user.first_name%>  pour l'expérience <strong><%= booking.experience.category%></strong> le <%=booking.start_date%>
          <div class="custom-button">
            <%= link_to "Details", experience_booking_path(booking.experience, booking)%>
          </div>
          </li>
      </div>
    <% end %>
  <% end %>
</ul>
<%= link_to "Réserver une nouvelle expérience", experiences_path %>

<br>
<br>
<h1>Tes réservations à venir en tant que GnBer</h1>

<ul>
  <% @bookings.each do |booking| %>
    <% if booking.experience.user == current_user  %>
      <div class="container">
          <li>
            <%=booking.experience.user.first_name%> te paye <%=booking.experience.price_per_hour%>€ le <%=booking.start_date%> pour l'expérience <strong><%= booking.experience.category%></strong> avec toi
            <div class="custom-button">
              <%= link_to "Details", experience_booking_path(booking.experience, booking)%>
            </div>
          </li>
          <br>
      </div>
    <% end %>
  <% end %>
</ul>

<div class="custom-button">
  <%= link_to "Proposer une nouvelle expérience", new_experience_path %>
</div>
