<h1>Félicitations ton booking a été validé</h1>
<h3>Details</h3>

<div class="container">
  <p> Activité : <%= @booking.experience.category %></p>
  <p> Avec : <%= @booking.experience.user.first_name %></p>
  <p> A : <%= @booking.experience.city %></p>
  <p> Date : <%= @booking.start_date %></p>
</div>

<%= link_to "Modifier ce booking", edit_experience_booking_path(@booking.experience, @booking) %>
<br>
<%= link_to "annuler ce booking", edit_experience_booking_path(@booking.experience, @booking) %>
<br>

<br>
<br>
<%= link_to "Retour aux expériences", experiences_path %>
<br>
<%= link_to "Voir tous mes bookings", experience_bookings_path %>
