<div class="container">
  <h1>Profil de <%= @user.first_name%> <%= @user.last_name %></h1>
  <ul class="list-unstyled">
    <li>
      photo de profil : <%= cl_image_tag @user.photo.key, class: "avatar" %>
    </li>
    <li>
      genre : <%= @user.gender  %>
    </li>
    <li>
      ville : <%= @user.city  %>
    </li>
    <li>
      âge : <%= @user.age %> ans
    </li>
    <li>
      email : <%= @user.email  %>
    </li>
    <li>
      numéro de téléphone : <%= @user.phone_number  %>
    </li>
  </ul>


  <div class="custom-button">
    <%= link_to "Modifier profil", edit_user_registration_path(@user) %>
  </div>
  <br>
</div>
