<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid" style="position: relative">
    <%= link_to image_tag("logo.png", class:"logo"), root_path, class:"logo-link"%>

      <h1 id='logo'><%= link_to "Airgnb", root_path %></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# search bar %>
  <%# <div class="search-bar row d-flex"> %>
  <div class="dropdown" id="btn-navbar-big">
    <button class="btn btn-secondary btn-search btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Quelle sera votre prochaine expérience?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Randonnée", experiences_path(category: "Randonnée"), class: "dropdown-item"  %>
      <%= link_to "Visite", experiences_path(category: "Visite"), class: "dropdown-item"  %>
      <%= link_to "Tir", experiences_path(category: "Tir"), class: "dropdown-item"  %>
      <%= link_to "Concert", experiences_path(category: "Concert"), class: "dropdown-item"  %>
      <%= link_to "Pêche", experiences_path(category: "Pêche"), class: "dropdown-item"  %>
      <%= link_to "Fight club", experiences_path(category: "Fight club"), class: "dropdown-item"  %>
      <%= link_to "Chasse", experiences_path(category: "Chasse"), class: "dropdown-item"  %>
    </div>
  </div>

    <div style="margin-bottom: 45px;"><%= button_to "Proposer une expérience", new_experience_path, class: "btn btn-secondary btn-search btn-sm", id: "btn-navbar-small", method: :get %> </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <div class="nav-link" >
              <i class="fa-solid fa-grip-lines"   id="navbarDropdown"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profil", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Messagerie", "#", class: "dropdown-item" %>
                <%= link_to "Tableau de bord", experience_bookings_path(current_user), class: "dropdown-item" %>
                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </li>

          <li class="nav-item ">
          <% if current_user.photo.key %>
            <%= cl_image_tag current_user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "https://images.pexels.com/photos/10724233/pexels-photo-10724233.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", class: "avatar"%>
          <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
