<div class="container">

  <%# banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner') %>)">
  <div class="container">
    <div class="text">
      <p>Vous vous sentez seul?</p>
      <p> Parfait!</p>
    </div>
  </div>
</div>

  <%# 3 experiences %>
  <div class="home-cards">

    <%= link_to "/experiences?query=Concert", class: "link_card" do %>
      <div class="experience-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
      Concert
      </div>
    <% end %>

    <%= link_to "/experiences?query=Randonnée", class: "link_card" do %>
      <div class="experience-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/4763907/pexels-photo-4763907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
      Randonnée
      </div>
    <% end %>

    <%= link_to "#", class: "link_card" do %>
      <div class="experience-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3184188/pexels-photo-3184188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        Repas en famille
      </div>
    <% end %>
  </div>

  <div class="text-center mt-5">
    <%= link_to "Voir toutes les Expériences", experiences_path, class: "custom-button"%></p>
  </div>
</div>
