<h1>Editer l'experience</h1>

<%= simple_form_for [@user, @experience] do |f| %>
  <%= f.input :price_per_hour, label:'Prix' %>
  <%= f.input :city, label:'Ville' %>
  <%= f.input :description, label:'Description' %>
  <%= f.input :category, label:'Categorie' %>
  <%= f.submit "Editer l'experience", class: "btn btn-primary" %>
<% end %>

<%= link_to "Retour aux experiences", experiences_path %>
