<div class="container list-container">
  <div class="row">
    <h1 class="centered-title">Toutes les experiences</h1>
  </div>
  <%# <div class="custom-button"> %>
    <%# <%= link_to "Créer une experience", new_experience_path %>
  <%# </div> %>
  <div class="row">
    <% @experiences.each do |experience| %>
      <%= link_to experience_path(experience), class:'col-4' do %>
        <div>
          <div class="card-product">
            <div><img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1642038832/jlslskda1hap3hhjbxgz.jpg" alt=""></div>
            <div class="card-product-infos">
              <% if policy(experience).show? %>
                <h2><%= experience.user.first_name %></h2>
                <p><%= experience.price_per_hour %> €</p>
                <p><%= experience.description %></p>
                <%# <div class="custom-button"> %>
                  <%# <%= link_to "Details", experience_path(experience) %>
                <%# </div> %>
              <% end %>
              <%# <% if policy(experience).destroy? %>
                <%# <div class="custom-button"> %>
                  <%# <%= link_to "Supprimer", experience_path(experience), method: :delete %>
                <%# </div> %>
              <%# <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
