<h1>Toutes les experiences</h1>
  <%= link_to "Créer une experience", new_experience_path %>

<ul>
<% @experiences.each do |experience| %>
  <% if policy(experience).show? %>
    <li>Ville :<%= experience.city %></li>
    <li>Prix :<%= experience.price_per_hour %></li>
    <li>Categorie :<%= experience.category %></li>
    <%= link_to "Details", experience_path(experience) %>
    <% if policy(experience).destroy? %>
    <%= link_to "Supprimer cette expérience", experience_path(experience), method: :delete %>
    <% end %>
  <% end %>
<% end %>
</ul>
