<h1>All experiences</h1>
  <%= link_to "Créer une experience", new_experience_path %>

<ul>
<% @experiences.each do |experience| %>
  <% if policy(experience).show? %>
    <li>Ville :<%= experience.city %></li>
    <li>Prix par heure :<%= experience.price_per_hour %></li>
    <%= link_to "Details", experience_path(experience) %>
    <%= link_to "Supprimer", experience_path(experience), method: :delete %>
  <% end %>
<% end %>
</ul>
