<div class="container-header">
  <h1><%= @experience.category %></h1>
</div>

  <div class="container d-flex">
<%# descriptif experience a gauche %>
    <div class="experience-card-show">
          <div class="user-profile" style="background-image:url(<%= cl_image_path @experience.user.photo.key %>)">
            <%#= cl_image_tag @experience.user.photo.key, class:"user-photo" %>

            <div class="user-name">
              <%= @experience.user.first_name %>
            </div>
            <div class="user-description">
              <%= @experience.user.description %>
            </div>
          </div>

      <div class="experience-cat">
        <%# <p class="exp-cat-name"><%= @experience.category </p> %>
        <p class="exp-cat-description"><%= @experience.description %></p>
      </div>

      <div class="experience-card-bottom">
        <div class="experience-card-town"><%= @experience.city %></div>
        <div class="experience-card-price"><%= @experience.price_per_hour %> € </div>
      </div>
    </div>

  <%# formulaire de réservation %>
  <div class="booking-form">
    <P class="book-invite">Réserve cette expérience:</P>
    <%= simple_form_for [@experience, @booking] do |f| %>
      <%= f.input :start_date, as: :string, label:"Date", input_html: {class: "datepicker date"} %>
      <%= f.submit class: "custom-button" %>
    <% end %>
  </div>

</div>
