<div class="container d-flex <%= @experience.category.parameterize %>">

<%# descriptif experience a gauche %>
    <div class="experience-card-show">
          <div>
            <%= cl_image_tag @experience.user.photo.key, class:"user-photo" %>
            <%# <div class="user-photo" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/5473391/pexels-photo-5473391.jpeg')"> %>
            <div class="user-name">
              <%= @experience.user.first_name %>
            </div>
            <div class="user-description">
              <%= @experience.user.description %>
            </div>
          </div>

      <div class="experience-cat">
        <p class="exp-cat-name"><%= @experience.category %></p>
        <p class="exp-cat-description"><%= @experience.description %></p>
      </div>

      <div class="experience-card-bottom">
        <div class="experience-card-town"><%= @experience.city %></div>
        <div class="experience-card-price"><%= @experience.price_per_hour %></div>
      </div>
    </div>


  <%# formulaire de réservation %>
  <div class="booking-form">
    <%= simple_form_for [@experience, @booking] do |f| %>
      <%= f.input :start_date, as: :string, label:"Date", input_html: {class: "datepicker"} %>
      <%= f.submit class: "custom-button" %>
    <% end %>
  </div>

</div>
