<h1>Details de l'experience</h1>

<ul>
  <% if policy(@experience).show? %>
    <li>Ville:<%= @experience.city %></li>
    <li>Prix par heure:<%= @experience.price_per_hour %></li>
    <li>Description:<%= @experience.description %></li>
    <li>Categorie:<%= @experience.category %></li>
    <li>Disponibilité:<%= @experience.availability %></li>
    <%= link_to "Retour aux experiences", experiences_path %>
  <% end %>
</ul>

    <% if policy(@experience).update? %>
    <%= link_to "Modifier cette experience", edit_experience_path(@experience) %>
    <% end %>

    <% if policy(@experience).destroy? %>
    <%= link_to "Supprimer cette expérience", experience_path(@experience), method: :delete %>
    <% end %>

    <%# <% if policy(@).destroy? %>
    <%= link_to "Réserver cette expérience", new_experience_booking_path(@experience, @booking) %>
    <%# <% end %>
